<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GroupProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <GroupProject.Properties.Settings>
      <setting name="login" serializeAs="String">
        <value />
      </setting>
      <setting name="path" serializeAs="String">
        <value />
      </setting>
      <setting name="offline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CryptState" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DelOnAdd" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DelOnCheckout" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnlyLocalAdd" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnlyServerAdd" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllAdd" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CaptchaWin" serializeAs="String">
        <value>False</value>
      </setting>
    </GroupProject.Properties.Settings>
  </userSettings>
</configuration>